{%extends 'base.html'%}
{% block content %}
{{block.super}}
  <!-- header -->
<div class="container-fluid" style="background-color:floralwhite; padding-left: 40px;">
  <h1 class="text-center">Sheila<span style="color: goldenrod;">Kamotho</span></h1>
  <div class="underline"></div>
</div>
  <header class="hero">
    <div class="section-center hero-center">
      <article class="hero-info">
        <div class="underline"></div>
        <h1>I'm Sheila</h1>
        <h4 style="font-weight: bolder; font-size: small;">Software Developer</h4>
        <a href="{% url 'contact' %}" class="btn hero-btn">hire me</a>
      </article>
      <article class="hero-img">
        <img src="https://i.pinimg.com/564x/af/f1/28/aff128795f3de001b4cef283e555eed4.jpg" class="hero-photo" alt="john doe" />
      </article>
    </div>
  </header>
  <!-- end of header -->
  <!-- about -->
  <section class="section about">
    <div class="section-center about-center">
      <!-- about img -->
      <article class="about-img">
        <img
          src="https://i.pinimg.com/564x/af/f1/28/aff128795f3de001b4cef283e555eed4.jpg"
          class="hero-photo"
          alt="about img"
        />
      </article>
      <!-- about info -->
      <article class="about-info">
        <!-- section title -->
        <div class="section-title about-title">
          <h2>About</h2>
          <div class="underline"></div>
        </div>
        <!--end of section title -->
        <p style="font-weight: bold; font-size: small;">
            I am a dedicated, organized and methodical individual with good interpersonal skills and an excellent team worker. I am keen and very willing to keep learning and developing new skills with an active and dynamic approach to work and getting things done.
        </p>
        <p style="font-weight: bold; font-size: small;">
            I spend most of my day, experimenting with HTML, CSS, JavaScript, Python and their frameworks(Angular, Django, Flask). I enjoy coding and the challenge of learning something new everyday.
        </p>
        <!-- <a href="about.html" class="btn">about me</a> -->
      </article>
    </div>
  </section>
  <!-- end of about -->
  <!-- services -->
  <section class="section bg-grey">
    <!-- section title -->
    <div class="section-title">
      <h2>services</h2>
      <div class="underline"></div>
    </div>
    <!--end of section title -->
    <div class="services-center section-center">
      <!-- single service -->
      <article class="service">
        <!-- <i class="fas fa-code service-icon"></i> -->
        <h4 style="font-weight: bold; font-size: small;">Web Design</h4>
        <div class="underline"></div>
        <p style="font-weight: bold; font-size: small;">
          I have a good eye for aesthetics and I create websites that are appealing to the eye.
        </p>
      </article>
      <!-- end of single service -->
      <!-- single service -->
      <article class="service">
        <!-- <i class="fab fa-sketch service-icon"></i> -->
        <h4 style="font-weight: bold; font-size: small;">Web Development</h4>
        <div class="underline"></div>
        <p style="font-weight: bold; font-size: small;">
          I also bring the awesome UI to life by adding functionality to the website for even better user experience.
        </p>
      </article>
      <!-- end of single service -->
      <!-- single service -->
      <article class="service">
        <!-- <i class="fab fa-android service-icon"></i> -->
        <h4 style="font-weight: bold; font-size: small;">Maintenance</h4>
        <div class="underline"></div>
        <p style="font-weight: bold; font-size: small;">
          I keep updgrading the website functionality and giving the UI facelifts.
        </p>
      </article>
      <!-- end of single service -->
    </div>
  </section>
  <!-- end of services -->
  <!-- projects -->
  <section class="section projects">
    <!-- section title -->
    <div class="section-title">
      <h2>Latest Works</h2>
      <div class="underline"></div>
      <p style="font-weight: bold; font-size: medium;" class="projects-text">
        Below are some of the projects I have worked on.
      </p>
    </div>
    <!--end of section title -->
    <div class="section-center projects-center">
      <!-- single project -->
      <a href="https://m1neighborhood.herokuapp.com/" class="project-1">
        <article class="project">
          <img
            src="../media/neibi.png"
            alt="single project"
            class="project-img"
          />
          <div class="project-info">
            <h4 style="font-weight: bold; font-size: medium;">HoodApp</h4>
          </div>
        </article>
      </a>
      <!-- end of single project -->
      <!-- single project -->
      <a href="https://sheilakamotho.github.io/Exotic-Pizza/" class="project-2">
        <article class="project">
          <img
            src="../media/pizza.png"
            alt="single project"
            class="project-img"
          />
          <div class="project-info">
            <h4 style="font-weight: bold; font-size: medium;">Exotic Pizza</h4>
          </div>
        </article>
      </a>
      <!-- end of single project --><!-- single project -->
      <a href="https://ap1pgallery.herokuapp.com/" class="project-3">
        <article class="project">
          <img
            src="../media/gal.png"
            alt="single project"
            class="project-img"
          />
          <div class="project-info">
            <h4 style="font-weight: bold; font-size: medium;">MyGalleryApp</h4>
            
          </div>
        </article>
      </a> 
      <!-- end of single project -->
      <!-- single project -->
      <a href="https://latest-haeadlines-app.herokuapp.com/" class="project-4">
        <article class="project">
          <img
            src="../media/news.png"
            alt="single project"
            class="project-img"
          />
          <div class="project-info">
            <h4 style="font-weight: bold; font-size: medium;">NewsApp</h4>
          </div>
        </article>
      </a>
      <!-- end of single project -->
       <!-- single project -->
       <a href="https://sheilakamotho.github.io/Quotes/" class="project-5">
        <article class="project">
          <img
            src="../media/quot.png"
            alt="single project"
            class="project-img"
          />
          <div class="project-info">
            <h4 style="font-weight: bold; font-size: medium;">Quotes</h4>
          </div>
        </article>
      </a>
      <!-- end of single project -->
       <!-- single project -->
       <a href="https://sheilakamotho.github.io/GitHub-Search/" class="project-6">
        <article class="project">
          <img
            src="../media/git.png"
            alt="single project"
            class="project-img"
          />
          <div class="project-info">
            <h4 style="font-weight: bold; font-size: medium;">Github Search</h4>
          </div>
        </article>
      </a>
      <!-- end of single project -->
    </div>
  </section>
  <!-- end of projects -->
 
  <!-- skills -->
  <section class="section skills" style="font-size: medium;">
    <!-- section title -->
    <div class="section-title">
      <h2>skills</h2>
      <div class="underline"></div>
    </div>
    <!--end of section title -->
    <div class="section-center skills-center">
      <article>
        <h3 style="font-weight: bold; font-size: medium; padding-left: 250px;">front end</h3>
        <div class="underline"></div>
        <!-- single skill -->
        <div class="skill">
          <p style="padding-left: 270px;">HTML/CSS</p>
          <!-- <div class="skill-container">
            <div class="skill-value value-80"></div>
            <p class="skill-text skill-text">
              Strong
            </p>
          </div> -->
        </div>
        <!--end of  single skill -->
        <!-- single skill -->
        <div class="skill">
          <p style="padding-left: 270px;">Javascript</p>
          <!-- <div class="skill-container">
            <div class="skill-value value-40"></div>
            <p class="skill-text skill-text">
              Intermediate
            </p>
          </div> -->
        </div>
        <!--end of  single skill -->
        <!-- single skill -->
        <div class="skill">
          <p style="padding-left: 270px;">Angular</p>
          <!-- <div class="skill-container">
            <div class="skill-value value-80"></div>
            <p class="skill-text skill-text">
              Strong
            </p>
          </div> -->
        </div>
        <!--end of  single skill -->
      </article>
      <article>
        <h3 style="font-weight: bold; font-size: larger; padding-left: 250px;">back end</h3>
        <div class="underline"></div>
        <!-- single skill -->
        <div class="skill">
          <p style="padding-left: 270px;">Python</p>
          <!-- <div class="skill-container">
            <div class="skill-value"></div>
            <p class="skill-text">
              Intermediate
            </p>
          </div> -->
        </div>
        <!--end of  single skill -->
        <!-- single skill -->
        <div class="skill">
          <p style="padding-left: 270px;">Flask</p>
          <!-- <div class="skill-container">
            <div class="skill-value value"></div>
            <p class="skill-text skill-text">
              Intermediate
            </p>
          </div> -->
        </div>
        <!--end of  single skill -->
        <!-- single skill -->
        <div class="skill">
          <p style="padding-left: 270px;">Django</p>
          <!-- <div class="skill-container">
            <div class="skill-value value-80"></div>
            <p class="skill-text skill-text">
              Strong
            </p>
          </div> -->
        </div>
        <!--end of  single skill -->
      </article>
    </div>
  </section>
  <!-- end of skills -->
  <!-- timeline -->
  <section class="section timeline" style="font-weight: bold; font-size: small;">
    <!-- section title -->
    <div class="section-title">
      <h2>Experience</h2>
      <div class="underline"></div>
    </div>
    <!--end of section title -->
    <div class="section-center timeline-center">
      <!-- single timeline item -->
      <article class="timeline-item">
        <h4 style="font-weight: bold; font-size: medium; color: goldenrod;">2020- Moringa School</h4>
        <p>
        Full Stack Web Developent
        </p>
        Great start to my coding journey as I got equiped with quality Software Development, Communication, Teamwork and Research Skills
        <span class="number">
          1
        </span>
      </article>
      <article class="timeline-item">
        <h4 style="font-weight: bold; font-size: medium; color: goldenrod;">2020- Self Assigned Projects</h4>
        <p>
        Full Stack Web Developent
        </p>
        Practice on self assigned projects to up my coding skills
        <span class="number">
          2
        </span>
      </article>
      <!-- end of  single timeline item -->
      
  </section>
  <!--end of  timeline -->
   <!-- connect -->
   <section class="connect">
    <!-- <video
      controls
      autoplay
      muted
      loop
      class="video-container"
      poster="./images/project-1.jpeg"
    >
      <source src="https://media4.giphy.com/media/xT9DPIlGnuHpr2yObu/200.webp?cid=ecf05e47ycqvhe92xe4dcfgjwrbm0ty1n4ignxb99wgm983l&rid=200.webp" type="video/mp4" />
      Sorry, your browser does not support embedded videos
    </video> -->
    <div class="video-banner">
      <!-- section title -->
      <div class="section-title">
        <h2>get in touch</h2>
        <div class="underline"></div>
      </div>
      <!--end of section title -->
      <p class="video-text">
      </p>
      <a href="{% url 'contact' %}"  class="btn">contact me</a>
    </div>
  </section>
 
  <script src="./js/app.js"></script>
{% endblock %}